@font-face {
  font-family: "iransans";
  src: url("../fonts/iransans.ttf");
}
.light {
  background: #f1f1f1;
}
.light p {
  color: black;
}
.light .text-main {
  color: darkred !important;
}
.light .svgbg {
  fill: darkred;
}
.light .active {
  color: darkred !important;
}
.light .text-main {
  color: darkred !important;
}
.light .a-main {
  cursor: pointer;
  color: darkred !important;
}
.light .a-main:hover {
  color: darkred !important;
}
.light .border-main {
  border: solid 1px darkred !important;
}
.light .border-right {
  border-right: solid 1px darkred;
}
.light .border-left {
  border-left: solid 1px darkred;
}
.light .bg-main {
  color: white;
  padding: 0 2% 2%;
  background: darkred;
}
.light .count-requests {
  color: darkred;
}
.light .btn-main {
  color: white;
  background: darkred;
  border: solid 1px darkred;
  border-radius: 5px;
}
.light .deactive {
  color: gray !important;
}
.light .auth-link {
  color: darkred !important;
}
.light .null {
  color: gray;
}
.light .bg-modal {
  background: #f1f1f1;
}
.light .bg-modal .title-modal {
  color: darkred;
}
.light .index-header h3 {
  color: #555;
}

.dark {
  background: #1f1b24;
}
.dark p {
  color: white;
}
.dark .text-main {
  color: #007bff !important;
}
.dark .svgbg {
  fill: #007bff;
}
.dark .active {
  color: #007bff !important;
}
.dark .text-main {
  color: #007bff !important;
}
.dark .a-main {
  cursor: pointer;
  color: #007bff !important;
}
.dark .a-main:hover {
  color: #007bff !important;
}
.dark .border-main {
  border: solid 1px #007bff !important;
}
.dark .border-right {
  border-right: solid 1px #007bff;
}
.dark .border-left {
  border-left: solid 1px #007bff;
}
.dark .bg-main {
  color: white;
  padding: 0 2% 2%;
  background: #007bff;
}
.dark .count-requests {
  color: #007bff;
}
.dark .btn-main {
  color: white;
  background: #007bff;
  border: solid 1px #007bff;
  border-radius: 5px;
}
.dark .deactive {
  color: gray !important;
}
.dark .auth-link {
  color: #007bff !important;
}
.dark .null {
  color: gray;
}
.dark .bg-modal {
  background: #333;
}
.dark .bg-modal .title-modal {
  color: white;
}
.dark .index-header h3 {
  color: white;
}

.body {
  direction: rtl;
  text-align: right;
  font-family: "iransans", serif;
}

.main {
  padding: 75px 2% 2%;
}

.pointer {
  cursor: pointer;
}

.bg-blur {
  backdrop-filter: blur(10px);
  height: auto;
}

.user-nav-link {
  cursor: pointer;
}

.phone {
  text-align: left;
  direction: ltr;
}

.block {
  display: block;
}

.none {
  display: none;
}

.auth-box {
  padding: 2%;
}

.ibtn {
  width: auto;
  padding: 2%;
}

.ibox {
  padding: 3%;
  border-radius: 3px;
}

.wbtn {
  width: 100%;
  padding: 1%;
}

.btn-main:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  opacity: 0.8;
}

.index-header {
  text-align: center;
  padding: 5%;
}

.artpic {
  height: 100vh;
}

.index-image {
  height: 100%;
  width: 100%;
  transition: transform 0.5s;
  box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px;
}

.index-image:hover {
  transform: scale(1.05);
}

.auth-error {
  position: relative;
  padding: 5%;
}
.auth-error .close-box {
  cursor: pointer;
  top: 0;
  left: 0;
  position: absolute;
  padding: 5%;
}

.faq {
  padding: 2%;
  border-radius: 5px;
}

.faq-question {
  cursor: pointer;
}

.post {
  border-radius: 5px;
  padding: 5%;
}

.post-head p {
  font-size: 15px;
  font-weight: bold;
}

.post-content p {
  font-size: 13px;
}

.post-footer {
  font-size: 12px;
}

.post-more {
  font-size: 13px;
}

/*# sourceMappingURL=main.css.map */
