$primaryColor: darkred

@font-face
  font-family: 'iransans'
  src: url("../fonts/iransans.ttf")


.body
  direction: rtl
  text-align: right
  font-family: 'iransans', serif

.main
  padding: 75px 2% 2%

.pointer
  cursor: pointer

.active
  color: $primaryColor !important

.phone
  text-align: left
  direction: ltr


.text-main
  color: $primaryColor !important


.a-main
  cursor: pointer
  color: $primaryColor !important


.a-main
  &:hover
    color: red !important


.border-main
  border: solid 1px $primaryColor !important

.border-right
  border-right: solid 1px $primaryColor

.border-left
  border-left: solid 1px $primaryColor

.block
  display: block


.none
  display: none


.bg-main
  color: white
  padding: 0 2% 2%
  background: $primaryColor


.ibtn
  width: auto
  padding: 2%


.ibox
  padding: 2%
  border-radius: 5px


.wbtn
  width: 100%
  padding: 1%


.btn-main
  color: white
  background: $primaryColor
  border: solid 1px $primaryColor
  border-radius: 5px


.btn-main
  &:hover
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px
    opacity: 0.8


.artpic
  background: url("https://wallpapercave.com/wp/wp3016972.jpg") no-repeat fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover
  height: 100vh

.welcome
  position: relative
  padding: 5%
  border: solid 1px $primaryColor

.welcome p
  font-size: 80%

.welcome .close-box
  cursor: pointer
  top: 0
  left: 0
  position: absolute
  padding: 5%

.auth-error
  position: relative
  padding: 5%
  border: solid 1px $primaryColor

.auth-error .close-box
  cursor: pointer
  top: 0
  left: 0
  position: absolute
  padding: 5%

.faq
  padding: 1%
  border-radius: 5px

.faq-question
  cursor: pointer

.bg-blur
  backdrop-filter: blur(10px)

.user-nav-link
  cursor: pointer

.post
  border-radius: 5px
  padding: 5%

.post-head p
  font-size: 15px
  font-weight: bold

.post-content p
  font-size: 13px

.post-footer
  font-size: 12px

.post-more
  font-size: 13px